<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form action=""method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <a href="{% url 'password_reset' %}">Forgot Password?</a><br><br>
        <button type="submit">Login</button>
    </form>
    {% if form.errors %}
    <p style="color:red">Invalid username or password. Please try again. </p>
    {%endif %}
    <p>Don't have an Account? <a href="{% url 'register' %}">Register</a></p>
    
</body>
</html>